body {
    background-color: #1a9b4f;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.boton-juego {
    margin: 10px;
    padding: 15px 30px;
    background-color: #ff69b4;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 0 2px #020001;
    width: 200px; /* Define un ancho fijo para los botones */
    text-align: center;
}

.boton-juego:hover {
    background-color: #366fff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.game-item img {
    max-width: 100px; /* Ajusta el tamaño máximo de las imágenes */
    margin-bottom: 10px;
}
